///* ========================================================================
//   #SIZES
//   ======================================================================== */

$size-base: 8;

$size-multiples: 0.5, 0.75, 1, 1.5, 2, 3, 4, 5, 8, 10;

$size-map: (
  half: 0.5,
  font: 0.75,
  normal: 1,
  double: 2,
  four: 4,
  five: 5,
  eight: 9,
  ten:  10
)
