///* ========================================================================
//   #SPACING::UTILITIES
//   ======================================================================== */



$directions: all, top, right, bottom, left;


/* PADDING */
/* Full padding and defaults */

@if $directions {
  @each $direction in $directions {
    .u-padding-#{$direction} {
      padding: $size-base + 0px;
    }
  }
}

@mixin padding {
  padding: $size-base + 0px;
}

.u-padding {
  @include padding;
}

/* Half padding and defaults */
@if $directions {
  @each $direction in $directions {
    .u-padding-half-#{$direction} {
      padding: $size-base/2 + 0px;
    }
  }
}

@mixin padding-half {
  @extend .u-padding-half-all;
}

.u-padding-half {
  @include padding-half;
}

/* MARGINS */
@mixin margin-bottom {
  margin-bottom: $size-base;
}

.u-margin-bottom {
  @include margin-bottom;
}
