///* ========================================================================
//   #HEADER::COMPONENTS
//   ======================================================================== */

.c-header {
  background-color: $black;
  color: $white;
  padding: $inuit-global-spacing-unit;
  padding-left: $inuit-global-spacing-unit*2!important;
}
